.random-list {
  padding: toRem(100px) toRem(24px);
  &__main {
    line-height: 1.4;
    margin: toRem(70px) 0;
  }
  @media (max-width: toRem(1200px)) {
    padding-top: toRem(60px);
    padding-bottom: toRem(60px);
  }
  @media (max-width: toRem(768px)) {
    &__main {
      margin: toRem(50px) 0;
    }
  }
  @media (max-width: toRem(425px)) {
    padding-top: toRem(40px);
    padding-bottom: toRem(40px);
  }
}
