.random-list {
  padding: toRem(100px) toRem(24px);
  &__main {
    line-height: 1.4;
    margin: toRem(70px) 0;
    &__btn {
      text-transform: uppercase;
      font-size: toRem(24px);
    }
    &__list {
      gap: 8px;
      .last-num {
        background: linear-gradient(0deg, $lighter-blue 0%, $darker-blue 80%);
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
      &__row {
        display: flex;
      }
      &__paragraph {
        width: toRem(70px);
        display: flex;
        justify-content: center;
      }
    }
  }
  @media(max-width: toRem(1200px)) {
    padding-top: toRem(60px);
    padding-bottom: toRem(60px); 
  }
  @media(max-width: toRem(768px)) {
    &__main {
      margin: toRem(50px);
    }
  }
   @media(max-width: toRem(425px)) {
    padding-top: toRem(40px);
    padding-bottom: toRem(40px); 
  }
}
