.btn {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  border-radius: 20px;
  border: none;
  background: $lighter-blue;
  background: $linear-gradient;
  &--bigger {
    width: toRem(180px);
    height: toRem(50px);
  }
  &--normal {
    width: toRem(120px);
    height: toRem(40px);
  }
  &--smaller {
    width: toRem(45px);
    height: toRem(25px);
  }
  &:hover {
    background: $darker-blue;
    background: linear-gradient(0deg, $darker-blue 0%, $darker-blue 100%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.75);
  }
}