// 8px
$spacer: 0.5rem;

// padding top
.pt-xxs {
  padding-top: ($spacer * 0.5);
}
.pt-xs {
  padding-top: ($spacer * 1);
}
.pt-sm {
  padding-top: ($spacer * 1.5);
}
.pt-md {
  padding-top: ($spacer * 2);
}
.pt-lg {
  padding-top: ($spacer * 3);
}
.pt-2xl {
  padding-top: ($spacer * 5);
}

//padding-bottom 
.pb-sm {
  padding-bottom: ($spacer * 1.5);
}






