// 8px
$spacer: 0.5rem;

// padding top
.pt-xxs {
  padding-top: ($spacer * 0.5);
}
.pt-xs {
  padding-top: ($spacer * 1);
}
.pt-sm {
  padding-top: ($spacer * 1.5);
}
.pt-md {
  padding-top: ($spacer * 2);
}
.pt-lg {
  padding-top: ($spacer * 3);
}
.pt-xl {
  padding-top: ($spacer * 4);
}

// padding-right
.pr-xs {
  padding-right: ($spacer * 1);
}

// padding-bottom 
.pb-sm {
  padding-bottom: ($spacer * 1.5);
}

// padding-left
.pl-xs {
  padding-left: ($spacer * 1);
}

// margin-right
.mr-xxs {
  margin-right: ($spacer * 0.5);
}

// margin-top-bottom
.mtb-2xl {
  margin-top: ($spacer * 5);
  margin-bottom: ($spacer * 5);
}








