.underline {
  position: relative;
  font-size: toRem(19px);
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 toRem(10px);
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -5px;
    width: 100%;
    left: 0;
    height: toRem(5px);
    border-radius: 5px;
    background: linear-gradient(0deg, $darker-blue 0%, $lighter-blue 100%);
    transition: height 0.3s ease;
  }
  &:hover::before {
    height: toRem(12px);
  }
}
