@import "./colors";
@import './functions';
@import './spacing';
@import './buttons';
@import './underlines';

@import "./pages/Home";
@import './pages/RandomList';

@import './components/List';
@import './components/BackHome';
@import './components/ButtonRoll';
@import './components/Statistics';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



